name: Build DEV

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: manuelmaslonka/openrooms:latest
          platforms: linux/amd64
          build-args: |
            JVM_OPTS=-XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:InitiatingHeapOccupancyPercent=30 -XX:G1PeriodicGCInterval=5000 -Xms512m -Xmx512m
            

      - name: Trigger Render deployment
        if: github.event_name != 'pull_request'
        run: |
          echo "Triggering Render deployment..."
          curl -X POST https://api.render.com/deploy/srv-d2u54rur433s73dvrt50?key=sOkY9FHbQ80
          echo "Deployment triggered successfully"

